@import url(https://fonts.googleapis.com/css?family=Lato);

.AboutModal {
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-fit-content;
    margin:-10px -10px 0;    
    padding-top: 20px;
    padding-bottom: 6%;
    font-family: 'Lato', sans-serif;
    margin-top: 8%;
    overflow-y: scroll;
}

.AboutModal::-webkit-scrollbar {
    height: 100%;
    width: 3%;
}

.AboutModal::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.2);
}